body{
    background: rgba(176, 196, 222, 0.637);
}

.container{
    max-width: 400px;
}

h1{
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    color: #0d47a1;
    letter-spacing: 6px;
}

h5{
    text-align: center;
}

.form-border{
    /* background: whitesmoke; */
    
}