body{
   background: #ffe57f;
     
}

.container{
    max-width: 400px;
}

.card{
    max-height: 800px;
}

h1{
    margin: 10px auto;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: #474444ab;
    letter-spacing: 6px;
}

h5{
    text-align: center;
    color:#474444ab;
    font-weight: 900;
}

.icon{
    font-size: 20px;
    text-align: center;
}

input,label{
    color: white;
}